body {
	font-family: Arial, sans-serif;
	font-size: 12px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
	display: inline;
}

li a {
	padding: 12px;
	text-decoration: none;
}

li button {
	font-weight: bold;
	color: white;
	background-color: blue;
}

.left {
  float: left;
}

.right {
  float: right;
}

div.logo {
	padding-top: 175px;
	text-align: center;
}
.form {
	padding: 20px;
	text-align: center;
}

input[type=text] {
	width: 400px;
	padding: 12px 12px;
	background-image: url('mic.png');
	background-size: 14px;
	background-position: 395px 10px;
	background-repeat: no-repeat;
}


.buttons {
	text-align: center;
}

button {
	font-weight: bold;
	padding: 10px;
	border: none;
	border-radius: 3px;
	margin: 0px 4px;
}

footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #dddddd;
	padding: 10px;
}